portfolio-workflow-export.json
[{"createdAt":"2025-07-12T17:40:00.000Z","updatedAt":"2025-07-12T17:40:00.000Z","id":"WNV8eXdySmaUGM1L","name":"Portfolio Lead Processing","active":false,"isArchived":false,"nodes":[{"parameters":{"path":"portfolio-leads","options":{}},"id":"webhook-trigger","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[240,300],"webhookId":"portfolio-leads"},{"parameters":{"functionCode":"// Extract lead data from webhook\nconst leadData = $input.first().json;\n\n// Format for processing\nreturn [{\n  json: {\n    leadId: leadData.id || 'new',\n    firstName: leadData.firstName,\n    lastName: leadData.lastName,\n    email: leadData.email,\n    company: leadData.company,\n    budget: leadData.budget,\n    message: leadData.message,\n    source: leadData.source || 'portfolio',\n    timestamp: leadData.timestamp || new Date().toISOString(),\n    priority: leadData.budget === '50000+' ? 'high' : leadData.budget === '15000-50000' ? 'medium' : 'normal'\n  }\n}];"},"id":"process-lead-data","name":"Process Lead Data","type":"n8n-nodes-base.function","typeVersion":1,"position":[460,300]},{"parameters":{"resource":"database","operation":"insert","table":"leads","columns":{"mappingMode":"defineBelow","value":{"first_name":"={{ $json.firstName }}","last_name":"={{ $json.lastName }}","email":"={{ $json.email }}","company":"={{ $json.company }}","budget":"={{ $json.budget }}","message":"={{ $json.message }}","source":"={{ $json.source }}","status":"new","priority":"={{ $json.priority === 'high' ? 1 : $json.priority === 'medium' ? 2 : 3 }}"}}},"id":"save-to-supabase","name":"Save to Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[680,300],"credentials":{"supabaseApi":{"id":"supabase_api_roboink","name":"Supabase API - RoboInk"}}},{"parameters":{"resource":"database","operation":"insert","table":"portfolio_leads","columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $json.firstName }} {{ $json.lastName }}","Email":"={{ $json.email }}","Company":"={{ $json.company }}","Budget":"={{ $json.budget }}","Message":"={{ $json.message }}","Source":"={{ $json.source }}","Priority":"={{ $json.priority }}","Timestamp":"={{ $json.timestamp }}"}}},"id":"save-to-notion","name":"Save to Notion","type":"n8n-nodes-base.notion","typeVersion":2,"position":[680,460],"credentials":{"notionApi":{"id":"notion-api","name":"Notion API"}}},{"parameters":{"fromEmail":"atelierroboinkier@gmail.com","toEmail":"admin@wizardtech.ai","subject":"New Portfolio Lead: {{ $json.firstName }} {{ $json.lastName }} - {{ $json.company }}","text":"New lead received from portfolio website:\n\nName: {{ $json.firstName }} {{ $json.lastName }}\nEmail: {{ $json.email }}\nCompany: {{ $json.company }}\nBudget: {{ $json.budget }}\nMessage: {{ $json.message }}\n\nSource: {{ $json.source }}\nTimestamp: {{ $json.timestamp }}\nPriority: {{ $json.priority }}\n\n---\nAutomatically generated by N8N workflow"},"id":"send-email-notification","name":"Send Email Notification","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[900,300],"credentials":{"smtp":{"id":"smtp-gmail","name":"Gmail SMTP"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"high-priority-check","leftValue":"={{ $json.priority }}","rightValue":"high","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"check-priority","name":"Check Priority","type":"n8n-nodes-base.if","typeVersion":2,"position":[900,460]},{"parameters":{"content":"🚨 HIGH PRIORITY LEAD ALERT 🚨\n\n**{{ $json.firstName }} {{ $json.lastName }}** from **{{ $json.company }}**\n💰 Budget: **{{ $json.budget }}**\n📧 Email: {{ $json.email }}\n\n**Message:**\n{{ $json.message }}\n\n*Source: {{ $json.source }}*\n*Time: {{ $json.timestamp }}*","select":"channel","channelName":"#leads"},"id":"slack-high-priority","name":"Slack High Priority Alert","type":"n8n-nodes-base.slack","typeVersion":2,"position":[1120,380],"credentials":{"slackApi":{"id":"slack-api","name":"Slack API"}}}],"connections":{"Webhook Trigger":{"main":[[{"node":"Process Lead Data","type":"main","index":0}]]},"Process Lead Data":{"main":[[{"node":"Save to Supabase","type":"main","index":0},{"node":"Save to Notion","type":"main","index":0}]]},"Save to Supabase":{"main":[[{"node":"Send Email Notification","type":"main","index":0},{"node":"Check Priority","type":"main","index":0}]]},"Check Priority":{"main":[[{"node":"Slack High Priority Alert","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1","triggerCount":1,"tags":[{"createdAt":"2025-07-12T17:40:00.000Z","updatedAt":"2025-07-12T17:40:00.000Z","id":"portfolio","name":"portfolio"}]}]